---

---

<footer class="footer">
<div style="padding-top: 5rem;">
<p class="bold">MARIAS NAPRAPATKLINIK </p>
<p>Maria Efternamn</p>
<p>Sommarvägen 45</p>
<p>874 23 Kalmar</p>
<p>Tel 031 22 33 44</p>
</div>

<div class="social flex ">
<div><a href="https://www.facebook.com/"><img src="https://img.icons8.com/wired/40/000000/facebook--v2.png"/></a></div>
<div><a href="https://www.instagram.com/"><img src="https://img.icons8.com/wired/40/000000/instagram-new--v1.png"/></a></div>
</div>






<p style="padding-top: 2rem;">Copyright of 2022</p>

</footer>


<slot />
