<main>

<div class="hero flex aline-center text-white">
<div class="container uppercase letter-spacing-2 text-center">
<h1 class="fs-700"style="margin-bottom: 2rem;">Maria Naprapat</h1>
<p>Träning - Glädje - Omtanke</p>

<div style="margin-top: 2rem" class="info fs-500">
<p>Boka tid</p>
<p>031 22 33 44</p>
<div style="margin-top: 2rem;">
<button class="book fs-400 uppercase text-white letter-spacing-1"><a href="https://www.bokadirekt.se/places/naprapat-yxan-36919">Boka online</a></button></div>
<div class="down-arrow" style="display: flex; justify-content: center; padding-top: 3rem;"><a href="#jump"><img style="width: 64px; opacity: 0.8;;"  src="../assets/arrow-down.svg"/></a></div>
</div>

</div>

</div> <!-- End of .hero -->

<div class="content container"id="jump">
<div class="container-starter-one" >
<p class="fs-500 letter-spacing-2"> BEHANDLING</p>
<p class="fs-400 letter-spacing-3">VAD ÄR EN BEHANDLING?</p>
<p>Lormem ipsum has tre skir amos delta. Mores íntores. Skidor mosa 
inte bli som. Massor med olika sorters text som beskriver allt 
mellan himmel och jord. Sommar sol och bad väder med alla goda 
ting. Solen skiner och badtofflor ligger på jorden. Ta med en vän!
MN
</p>
</div>

<div class="container-starter-two">
<p class="fs-500 letter-spacing-2">MARIAS NAPRAPAT KLINIK</p>
<p class=" fs-400 letter-spacing-3">Hälsa - Träning - Omtanke</p>
<p>Lormem ipsum has tre skir amos delta. Mores íntores. Skidor 
mosa inte bli som. Massor med olika sorters text som beskriver 
allt mellan himmel och jord. Ta med en vän.</p>
<p>Soffpotatis äter mycket men alla vill vara med. Snygga jeans, 
snygga ben. Ät det du kan!</p>

</div>
</div>

	

		<!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->

	</main>