---

---

<header class="primary-header sticky">
<div> 
<nav class="nav"> <!-- class="active-nav" -->
    <div class="logo">
    <a href=""><img src="../assets/logo.png"/></a>
    </div>
    <ul id="navigation" class="primary-navigation fs-400 hidden">
        <li class="li-active"><a href="/">Startsida</a></li>
        <li><a href="/behandlingar">Behandlingar</a></li>
        <li><a href="/traning">Träning</a></li>
        <li><a href="/klinik">Kliniken</a></li>
        <li><a href="/om">Om oss</a></li>
        <li><a href="https://www.bokadirekt.se/places/naprapat-yxan-36919">Boka</a></li>
        
    </ul>
    <div class="btn-nav">
    <img class="hamburger" src="../assets/menu-symbol-open-2.svg"/>
    </div>
</nav>
</div>
</header>

