<main>

<div>

<div class="img">
<img src="../assets/workoutS.jpg" srcset="../assets/workout.jpg 800w, ../assets/workoutL.jpg 1200w"alt="">
</div>
<div class="content container"> 
<p class="fs-500 letter-spacing-2 uppercase">Träning</p></div>
<div class="content container">
<div class="container-one">

<p class="fs-400 letter-spacing-3 uppercase">Vad du än kan behöva</p>
<p>Lormem ipsum has tre skir amos delta. Mores íntores. Skidor mosa 
inte bli som. Massor med olika sorters text som beskriver allt 
mellan himmel och jord. Sommar sol och bad väder med alla goda 
ting. Solen skiner och badtofflor ligger på jorden. Ta med en vän!
</p>
</div>

<div class="container-two">
<p class="fs-400 letter-spacing-3 uppercase">Gympa 45min</p>
<p>Lormem ipsum has tre skir amos delta. Mores íntores. Skidor mosa 
inte bli som. Massor med olika sorters text som beskriver allt 
mellan himmel och jord. Sommar sol och bad väder med alla goda 
ting. Solen skiner och badtofflor ligger på jorden. Ta med en vän!
</p></div>

<div class= "container-three">
<p class="fs-400 letter-spacing-3 uppercase">Mamma-Mage</p>
<p>Lormem ipsum has tre skir amos delta. Mores íntores. Skidor mosa 
inte bli som. Massor med olika sorters text som beskriver allt 
mellan himmel och jord. Sommar sol och bad väder med alla goda 
ting. Solen skiner och badtofflor ligger på jorden. Ta med en vän!
</p>
</div>

</div>
</div>


</main>